window {
  background-color: rgba(52, 52, 52, 0.410);
  border-radius: 12px;
}

#app {
  padding: 5px;
  /* margin: 0px 3px; */
}

button {
  background-color: transparent;
  border-radius: 50%;
  margin: 0px 4px;
  margin-bottom: 2px;
  padding: 4px;
}